  <h1><%= @post.title %></h1>
<p><%= @post.story %></p>

<p><%= link_to "Return to titles", posts_path %></p>
<p><%= link_to "Delete", post_path(@post),
                          :data => {:confirm => "You sure?",
                                    :method => "delete"} %></p>

<h3>Comments</h3>
<p><%= link_to "Add a comment", new_post_comment_path(@post) %></p>
<ul>
  <% @post.comments.each do |comment| %>
  <li>
    <%= comment.name %>
    <%= comment.comment %>
    <%= link_to "Edit", edit_post_comment_path(@post, comment) %>
    <%= link_to "Delete", post_comment_path(@post, comment),
                                   :data => {:confirm => "Are you sure?",
                                                  :method => "delete"} %>
  </li>
  <% end %>
</ul>

<hr>
<p><%= link_to "Return to posts", posts_path %></p>
