<!DOCTYPE html>
<html>
  <head>
    <title>PersonalPortfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="nav nav-tabs nav-justified">

        <div class="tab">
          <%= link_to "Home", skills_path %>
        </div>

        <div class="tab">
          <%= link_to "Blog", posts_path %>
        </div>

        <div class="tab">
          <%= link_to "Recommendations", recommendations_path %>
        </div>

      </div>
    </nav>


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="container-fluid">
      <%= yield %>
    </div>
  </body>
</html>
